[user]
	email = tcarbone073@gmail.com
	name = Tyler Carbone
[core]
	editor = vim
	autocrlf = input
[alias]
	ql = log --oneline -n 30
	qlg = ql --graph
	ll = log --oneline
	llg = ll --graph
[init]
	defaultBranch = master
