[user]
    email = tcarbone073@gmail.com
    name = Tyler Carbone
[core]
    editor = vim
    autocrlf = input
[alias]
    co = checkout
    cp = cherry-pick
    ql = log --oneline -n 30
    qlg = ql --graph
    ri = rebase --interactive
    ll = log --oneline
    llg = ll --graph
    shl = stash list
    shp = stash pop
    sws = show --stat

    # Show diff of each submodule
    sdiff = !git diff && git submodule foreach 'git diff'

    # Update submodules
    supdate = submodule update --remote --merge
[init]
    defaultBranch = master
[diff]
    # Show list of commits made to a submodule when running 'git diff'
    submodule = log
[status]
    # Show list of commits made to a submodule when running 'git status'
    submodulesummary = 1
[push]
    # Refuse pushing main project if any submodules haven't been pushed
    # Or 'on-demand' to attempt to push all submodules before pushing main project
    recurseSubmodules = check

[submodule]
    # Implicitly add '--recurse-submodules' flag to every supporting command
    #
    # For 'git checkout', this prevents a submodule directory from showing as untracked
    # files when checking out branch A after a submodule was committed to branch B
    recurse = true

[pretty]
    v1 = %C(auto)%h% (decorate:prefix=,suffix=,tag=,separator= ) %s %C(bold yellow)%<(2,trunc)%b%-
    v2 = %C(auto)%h% (decorate:prefix=,suffix=,tag=,separator= ) %s %C(brightblue)<%an> %C(brightgreen)(%cr) %C(bold yellow)%<(2,trunc)%b%-
